<div class="panel panel-default" id="thankyou">
  <div class="panel-heading">Your email was sent</div>
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->